# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
build/
*.egg-info/

# Flask
instance/
*.db
*.sqlite3

# Node
node_modules/
package-lock.json

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
.DS_Store